<div class="matchrooms">
<h1><span class='glyphicon glyphicon-heart'></span>Matches</h1>
<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @matches_sent.each do |match| %>
      <tr>
        <td><img class="thumbnail" src="<%= match.receiver.photo %>" alt="TBD"></td>
        <td><%= link_to match.receiver.first_name, users_show_path(match.receiver) %></td>
        <td>
          <% if match.status == 'Open' %>
            <%= link_to 'Chat', show_match_room_path(match) %>
          <% else %>
            <%= match.status %>
          <% end %>
        </td>
        <td>
          <%= form_for match, method: :put do |f| %>
            <%= f.hidden_field :status, value: 'Closed' %>
            <%= f.submit 'Break Up', class: 'btn btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1><span class='glyphicon glyphicon-remove'></span>Breakups</h1>
<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @breakups.each do |match| %>
      <tr>
        <td><img class="thumbnail" src="<%= match.receiver.photo %>" alt="TBD"></td>
        <td><%= link_to match.receiver.first_name, users_show_path(match.receiver) %></td>
        <td>
          <%= form_for match, method: :put do |f| %>
            <%= f.hidden_field :status, value: 'Open' %>
            <%= f.submit 'Rekindle', class: 'btn btn-info' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
