<script>
  $("#")

</script>
<div class="container">
  <div class="header">
    <h1>Edit Your Profile</h1>
  </div>
<div class="col-md-6">
    <div class="form-area">
      <div class="editpage">
        <form role="form" action="/users/<%=@user.id%>/update/profile" method="POST" enctype="multipart/form-data">
          <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
          <input type="hidden" name="_method" value="patch">
          <br style="clear:both">
          <!-- <div class="form-group">
            <input type="text" class="form-control" id="personality" name="personality" placeholder="Personality" value = "<%= @userinfo.personality %>">
          </div> -->
          <div class="form-group">
            <label>Max Age:</label>
						<input type="text" class="form-control" id="subject" name="max_age" placeholder="Max Age" value = "<%= @userinfo.max_age %>">
					</div>
          <div class="form-group">
            <label>Min Age:</label>
						<input type="text" class="form-control" id="subject" name="min_age" placeholder="Min Age" value = "<%= @userinfo.min_age %>">
					</div>
          <div class="form-group">
            <label>Education:</label>
            <input type="text" class="form-control" id="subject" name="education" placeholder="Education" value = "<%= @userinfo.education %>">
          </div>
          <div class="form-group">
            <label>Education:</label>
            <select class="form-control" name="education">
              <% if @userinfo.education == 'High School' %>
                <option selected value="High School">High School</option>
              <% else %>
                <option value="High School">High School</option>
              <% end %>
              <% if @userinfo.education == 'Undergraduate Degree' %>
                <option selected value="Undergraduate Degree">Undergraduate Degree</option>
              <% else %>
                <option value="Undergraduate Degree">Undergraduate Degree</option>
              <% end %>
              <% if @userinfo.education == 'Masters Degree' %>
                <option selected value="Masters Degree">Masters Degree</option>
              <% else %>
                <option value="Masters Degree">Masters Degree</option>
              <% end %>
              <% if @userinfo.education == 'Doctorate' %>
                <option selected value="Doctorate">Doctorate</option>
              <% else %>
                <option value="Doctorate">Doctorate</option>
              <% end %>
            </select>
          </div>
          <div class="form-group">
            <label>Occupation:</label>
            <input type="text" class="form-control" id="subject" name="job" placeholder="Occupation" value = "<%= @userprof.job %>">
          </div>
          <div class="form-group">
            <label>Hobbies</label>
						<input type="text" class="form-control" id="subject" name="hobbies" placeholder="Hobbies" value = "<%= @userprof.hobbies%>">
					</div>
          <div class="form-group">
            <label>Religion</label>
            <select name="religion" class="form-control">
              <% if @userprof.religion == 'Christianity' %>
                <option selected value="Christianity">Christianity</option>
              <% else %>
                <option value="Christianity">Christianity</option>
              <% end %>
              <% if @userprof.religion == 'Islam' %>
                <option selected value="Islam">Islam</option>
              <% else %>
                <option value="Islam">Islam</option>
              <% end %>
              <% if @userprof.religion == 'Judaism' %>
                <option selected value="Judaism">Judaism</option>
              <% else %>
                <option value="Judaism">Judaism</option>
              <% end %>
              <% if @userprof.religion == 'Buddhism' %>
                <option selected value="Buddhism">Buddhism</option>
              <% else %>
                <option value="Buddhism">Buddhism</option>
              <% end %>
              <% if @userprof.religion == 'Hinduism' %>
                <option selected value="Hinduism">Hinduism</option>
              <% else %>
                <option value="Hinduism">Hinduism</option>
              <% end %>
              <% if @userprof.religion == 'Atheistism' %>
                <option selected value="Atheistism">Atheistism</option>
              <% else %>
                <option value="Atheistism">Atheistism</option>
              <% end %>
              <% if @userprof.religion == 'Mormonism' %>
                <option selected value="Mormonism">Mormonism</option>
              <% else %>
                <option value="Mormonism">Mormonism</option>
              <% end %>
              <% if @userprof.religion == 'Other' %>
                <option selected value="Other">Other</option>
              <% else %>
                <option value="Other">Other</option>
              <% end %>
            </select>
          </div>
          <div class="form-group">
            <label>Ideal Mate</label>
            <input type="text" class="form-control" id="subject" name="ideal_mate" placeholder="Ideal Mate" value = "<%= @userprof.ideal_mate %>">
          </div>
          <div class="form-group">
            <label>About Me</label>
            <textarea class="form-control" type="textarea" name="about_me" placeholder="About Me" maxlength="300" rows="7" value = ""><%= @userprof.about_me %></textarea>
          </div>
          <input type="file" name="picture">
          <br>
          <input id='picture' type="submit" name="" value="Submit Form" accept="image/*">
         </form>
       </div>
        </div>
      </div>
      <div class="col-md-6">
       <div class="form-area">
         <div class="editpage">
         <form role="form" action="/users/<%=@user.id%>/update/account" method="POST" enctype="multipart/form-data">
           <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
           <input type="hidden" name="_method" value="patch">
           <div class="form-group">
             <label for="first_name">First Name</label>
             <input type="text" class="form-control" placeholder="First Name" name="first_name" value="<%=@user.first_name%>">
           </div>
           <div class="form-group">
             <label for="last_name">Last Name</label>
             <input type="text" class="form-control"  placeholder="Last Name" name="last_name" value="<%=@user.last_name%>">
           </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" value="<%=@user.email%>">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Confirm Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password" name="password_confirm">
          </div>
          <br>
        <input type="submit" name="" value="Edit Profile">
      </form>
      <br>
      <%= button_to "Delete Account", user_destroy_path(@user.id),  method: :delete, data: { confirm: 'Are you certain you want to delete this?' }%>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
<script type="text/javascript">
  $('#picture').bind('change', function(){
    size = this.files[0].size/1024/1024;
    if(size > 5){
      alert('maximum file size exceeded')
    }
  })
</script>
