<!DOCTYPE html>
<html>
  <head>
    <title>Match Clone</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/flash' %>
    <%= render 'shared/nav' %>
    <div class="container main">
      <%= yield %>
    </div>
  </body>
</html>
